@import 
url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=PT+Serif:ital,wght@1,700&display=swap');
@media only screen and (max-width: 1920px){
    body{
        font-family: 'PT Serif';
        margin:0px;
        padding: 0; 
        overflow-x: hidden;
        overflow-y: hidden;

    }
    .wietbox{
        margin:-1500px 0 0 280px ;
        width: 1592px;
        height:1446px;
        background: #FFEA2F;
    }

    .head{
        display: flex;
    }
    .imgheal{
        margin: 23px 0 0 45px;
    }
    .mainhref{
        margin: 48px 0 0 auto;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        text-align: right;
        display: flex;
    }
    .hrevpr{
        margin-right: 53px;
        text-decoration: none;
        color: black;
    }
    .eng{
        font-family: 'PT Serif';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        display: flex;
        margin: 45px 0 0 45px;
    }
    .ez{

        width: 120px;
        height: 120px;
        background: #CE0002;
    }
    main{
        display: flex;
        width: 1922px;
        height: 1073px;
    }
    .dan{
        margin: 201px 0 0 187px;
    }
    .kont{
        width: 603px;
        height: 87px;
        font-style: normal;
        font-weight: 800;
        font-size: 72px;
        line-height: 85px;
        text-transform: uppercase;
        color: #000000;
    }
    .tell{
        margin-top: -50px;
        width: 226px;
        height: 20px;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        color: #000000;
    }
    .emell{
        width: 226px;
        height: 20px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        color: #7E7E7E;
    }
    .adres{
        width: 326px;
        height: 20px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        color: #7E7E7E;
    }
    .map{
        margin: 100px 0 0 15px;
        width: 1070px;
        height: 525px;
    }
    footer{
        margin-top: -270px;
        height: 54px;
        width: auto;
        display: flex;
        background: #EFEFEF;
    }
    .toystr{
        margin: 18px 0 0 27px ;
        font-family: 'Akrobat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #7E7E7E;
    }
    .headtwo{
        margin: 18px 0 0 550px;
        font-family: 'PT Serif';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #7E7E7E;
    }
    .heh{
        margin-right: 53px;
        text-decoration: none;   
    }
    .logo2{
        display: flex;
        margin: 15px 0 0 1590px;
    }
    .hrevpr2{
        color: #CE0002;
    }
}
@media only screen and (max-width: 1024px){
    
}
@media only screen and (max-width: 375px){
    
}